@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    Contact
    <br />
    <hr style="width:160px;" />
    </div>
<div>
    <div class="content-bg contenttext">
        <div class="text-content-bg">
            <div class="text">
                <p>There are several ways of getting in touch with me:  </p>
                <p>
                    &nbsp;&nbsp; Email:   julhash.rahman@gmail.com <br />
                    &nbsp;&nbsp; Twitter: <a style="color:White; text-decoration:underline;" href="https://twitter.com/JulhashRahman" target="_blank">JulhashRahman</a>
                </p>
            </div>
        </div>
    </div>
</div>
