@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- MAIN -->
    <div id="main">
        <!-- wrapper-main -->
        <div class="wrapper">
            <!-- content -->
            <div class="container">
                <div id="projects-list" class="row" style="text-align: left; min-height:500px;">
                    <!-- title -->
                    <div id="page-title">
                        <span class="title">Contact me</span> <span class="subtitle">There are several ways of getting in touch with me</span>
                    </div>
                    <!-- ENDS title -->
                    <!-- column (left)-->
                    <div class="one-column">
                        <!-- form -->

                        @*<script type="text/javascript" src="js/form-validation.js"></script>*@
                        <p>
                            There are several ways of getting in touch with me:
                        </p>
                        <p>
                            &nbsp;&nbsp; Email: julhash.rahman@gmail.com
                    <br />
                            &nbsp;&nbsp; Twitter: <a style="color: White; text-decoration: underline;" href="https://twitter.com/JulhashRahman"
                                target="_blank">JulhashRahman</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
