@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    Contact</div>
<div>
    <div class="content-bg contenttext">
        <div class="text-content-bg">
            <div class="text">
                <p>
                    Email: julhash.rahman@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>
