@{
    ViewBag.Title = "Index";
}
<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">
        <!-- content -->
        <div id="content">
            <!-- title -->
            <div id="page-title">
                 <span class="title">The Portfolio</span> <span class="subtitle">Some of my web development
                    works</span>
            </div>
            <!-- ENDS title -->
            <!-- filter -->
            <ul class="filter">
                <li>Categories</li>
                <li class="active"><a href="#">E-Commerce </a></li>
                <li><a href="#">Real Estate </a></li>
                <li><a href="#">Logistics </a></li>
                <li><a href="#">Educational </a></li>
                <li><a href="#">Recruitment </a></li>
                <li><a href="#">Informative </a></li>
            </ul>
            <!-- ENDS filter -->
            <!-- project column (left)-->
            <div class="project-column">
                <!-- shadow -->
                <div class="project-shadow">
                    <div class="project-thumbnail">
                        <img src="img/dummies/438x267.gif" alt="Feature image" /></div>
                    <!-- meta -->
                    <ul class="meta">
                        <li><strong>Project date</strong>  </li>
                        <li><strong>Client</strong> </li>
                        <li><strong>Visit website</strong></li>
                    </ul>
                    <!-- ENDS meta -->
                    <div class="portfolio-left-shadow">
                    </div>
                </div>
                <!-- ENDS shadow -->
                <!-- project gallery -->
                <h2>
                    Project gallery</h2>
                <ul class="project-gallery">
                    <li><a href="img/dummies/204x148.gif" class="fancybox">
                        <img src="img/dummies/204x148.gif" alt="Pic"></a></li>
                    <li><a href="img/dummies/204x148.gif" class="fancybox">
                        <img src="img/dummies/204x148.gif" alt="Pic"></a></li>
                    <li><a href="img/dummies/204x148.gif" class="fancybox">
                        <img src="img/dummies/204x148.gif" alt="Pic"></a></li>
                    <li><a href="img/dummies/204x148.gif" class="fancybox">
                        <img src="img/dummies/204x148.gif" alt="Pic"></a></li>
                </ul>
                <!-- ENDS project gallery -->
            </div>
            <!-- ENDS project column (left)-->
            <!--project column (right) -->
            <div class="project-column">
                <h1 class="project-title">
                    Updating soon...</h1>
                Updating soon...
            </div>
            <div class="clear">
            </div>
            <!-- ENDS project column (right) -->
        </div>
        <!-- ENDS content -->
    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->
