@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    Photos [ Under Deveopment... ]</div>
<div>
    <div class="content-bg contenttext">
        <div class="text-content-bg">
            <div style="padding-top:12px;" class="text">
                <p>
                    <img src="../../Image/under_construction.jpg" /><br />
                </p>
            </div>
        </div>
    </div>
</div>
