@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="header">
    Photos [ Under Deveopment... ]
    <br />
    <hr style="width:160px;" />
    </div>
<div>*@





<div>
    <!-- MAIN -->
    <div id="main">
        <!-- wrapper-main -->
        <div class="wrapper">
            <!-- content -->
            <div id="content">
                <!-- title -->
                <div id="page-title">
                    <span class="title">The Gallery</span> <span class="subtitle">Updating soon...</span>
                </div>
                <!-- ENDS title -->
                <!-- column (left)-->
               <img src="../../Image/under_construction.jpg" />
            </div>
        </div>
    </div>
</div>

