@model IEnumerable<JulhashWebsite.Models.FeedbackModel>
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <style>
        tr td.label
        {
            width: 100px !important;
        }
    </style>
</div>
<div>
    <!-- MAIN -->
    <div id="main">
        <!-- wrapper-main -->
        <div class="wrapper">
            <!-- content -->
            <div id="content">
                <!-- title -->
                <div id="page-title">
                    <span class="title">Feedback</span> <span class="subtitle">Your feedback will be highly appriciated.</span>
                </div>
                <!-- ENDS title -->
                <!-- column (left)-->
                <div class="one-column">
                    <!-- form -->
                    <h2>
                        Feedback Form</h2>
                    @*<script type="text/javascript" src="js/form-validation.js"></script>*@
                    <form id="contactForm" data-bind="submit: save">
                    <fieldset>
                        <div>
                            <span style="color: White; font-size: 12px;">@ViewBag.Message</span>
                            <table cellpadding="0" cellspacing="0">
                                <tbody data-bind="template: {name: 'FeedbackRowTemplate', foreach: feedbacks }">
                                </tbody>
                                <script type="text/html" id="FeedbackRowTemplate">    
                                <tr>
                                    <td><label>First Name:</label>
                                      <input name="name" class="form-poshytip" type="text" data-bind="value: FirstName" /></td>
                                </tr>
                                <tr>
                                    <td><label>Last Name:</label>
                                    <input type="text" class="form-poshytip" data-bind="value: LastName" /></td>
                                </tr>
                                <tr>
                                    <td><label>Email:</label>
                                    <input type="text" class="form-poshytip" data-bind="value: Email" /></td>
                                <tr>
                                    <td>Message:
                                    <textarea rows="5" cols="60" class="form-poshytip" data-bind="value: Message"></textarea></td>                     
                                </tr> 
                                </script>
                                <tr>
                                    <td>
                                        <input type="submit" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                    </form>
                </div>
                <!-- column (right)-->
                <div class="one-column">
                    <!-- content -->
                   @* <p>
                        <img src="img/dummies/map.jpg" alt="map"></p>
                   *@
                    <!-- ENDS content -->
                </div>
                <!-- ENDS column -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var initialData = @Html.Raw(Json.Encode(Model));

        //alert(initialData);

        var viewModel = {
                            feedbacks: ko.observableArray(initialData),
                            save: function(){
                                    ko.utils.postJson(location.href, {feedbacks: this.feedbacks});  
                                  }
                        };

        //activates KO
        ko.applyBindings(viewModel, document.body);
</script>
