@model IEnumerable<JulhashRahmanPortfolio.Models.FeedbackModel>
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <style>
        tr td.label {
            width: 100px !important;
        }
    </style>
</div>


<div class="container">
    <div id="projects-list" class="row" style="text-align: left; min-height:500px;">
        <div class="span12">
            <!-- title -->
            <div id="page-title">
                <span class="title">Feedback</span> <span class="subtitle">Feedback</span>
            </div>
        </div>      
        <div class="span7">
             <span style="color: red; font-size: 12px;">@ViewBag.Message</span>

            <div class="span12">
                <h1 style="color:red;">Under Development..</h1>

                <h3>Email Me</h3>
                <form class="form-horizontal" action="/Feedback/Index/" method="post">
                    <fieldset>
                        <div class="control-group">

                            <input type="text" class="input-xlarge" id="FirstName" name="FirstName" placeholder="name">
                        </div>
                        <div class="control-group">

                            <input type="text" id="Email" name="Email" class="input-xlarge" placeholder="email">
                        </div>
                        <div class="control-group">

                            <input type="text" class="input-xlarge" placeholder="subject">
                        </div>
                        <div class="control-group">
                            <textarea class="input-xlarge" id="Message" name="Message" rows="4"></textarea>

                        </div>

                        <button type="submit" class="btn btn-large"><i class="icon-envelope"></i>&nbsp;Send Message</button>
                      
                    </fieldset>
                      <br />
                </form>
            </div>
        </div>
    </div>
</div>
