@model IEnumerable<JulhashWebsite.Models.FeedbackModel>
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <style>
        tr td.label {
            width: 100px !important;
        }
    </style>
</div>


<div class="container">
    <div id="projects-list" class="row" style="text-align: left">
        <div class="span12">
            <!-- title -->
            <div id="page-title">
                <span class="title">Portfolio</span> <span class="subtitle">Some of my web development
                    works</span>
            </div>
        </div>      
        <div class="span7">
             <span style="color: red; font-size: 12px;">@ViewBag.Message</span>

            <div class="span12">
                <h3>Email Me</h3>
                <form class="form-horizontal" action="/Feedback/Index/" method="post">
                    <fieldset>
                        <div class="control-group">

                            <input type="text" class="input-xlarge" id="FirstName" name="FirstName" placeholder="name">
                        </div>
                        <div class="control-group">

                            <input type="text" id="Email" name="Email" class="input-xlarge" placeholder="email">
                        </div>
                        <div class="control-group">

                            <input type="text" class="input-xlarge" placeholder="subject">
                        </div>
                        <div class="control-group">
                            <textarea class="input-xlarge" id="Message" name="Message" rows="4"></textarea>

                        </div>

                        <button type="submit" class="btn btn-large"><i class="icon-envelope"></i>&nbsp;Send Message</button>
                      
                    </fieldset>
                      <br />
                </form>
            </div>
        </div>
    </div>
</div>




@*<div>
    <!-- MAIN -->
    <div id="main">
        <!-- wrapper-main -->
        <div class="wrapper">
            <!-- content -->
            <div id="content">
                <!-- title -->
                <div id="page-title">
                    <span class="title">Feedback</span> <span class="subtitle">Your feedback will be highly appriciated.</span>
                </div>
                <!-- ENDS title -->
                <!-- column (left)-->
                <div class="one-column">
                    <!-- form -->
                    <h2>
                        Feedback Form</h2>
                   
                    <form id="contactForm" data-bind="submit: save">
                    <fieldset>
                        <div>
                            <span style="color: White; font-size: 12px;">@ViewBag.Message</span>
                            <table cellpadding="0" cellspacing="0">
                                <tbody data-bind="template: {name: 'FeedbackRowTemplate', foreach: feedbacks }">
                                </tbody>
                                <script type="text/html" id="FeedbackRowTemplate">    
                                <tr>
                                    <td><label>First Name:</label>
                                      <input name="name" class="form-poshytip" type="text" data-bind="value: FirstName" /></td>
                                </tr>
                                <tr>
                                    <td><label>Last Name:</label>
                                    <input type="text" class="form-poshytip" data-bind="value: LastName" /></td>
                                </tr>
                                <tr>
                                    <td><label>Email:</label>
                                    <input type="text" class="form-poshytip" data-bind="value: Email" /></td>
                                <tr>
                                    <td>Message:
                                    <textarea rows="5" cols="60" class="form-poshytip" data-bind="value: Message"></textarea></td>                     
                                </tr> 
                                </script>
                                <tr>
                                    <td>
                                        <input type="submit" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                    </form>
                </div>
                <!-- column (right)-->
                <div class="one-column">
                   
                    <!-- ENDS content -->
                </div>
                <!-- ENDS column -->
            </div>
        </div>
    </div>
</div>*@
<script type="text/javascript">
  @*  var initialData = @Html.Raw(Json.Encode(Model));

    //alert(initialData);

    var viewModel = {
        feedbacks: ko.observableArray(initialData),
        save: function(){
            ko.utils.postJson(location.href, {feedbacks: this.feedbacks});  
        }
    };

    //activates KO
    ko.applyBindings(viewModel, document.body);*@
</script>
