@{
    ViewBag.Title = "Julhash Rahman Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    Profile</div>
<div >
    <div class="content-bg">       
        @* <div class="">
            <img src="../../Image/profession.png" />
            </div>*@
        <div class="text">
            <p>
                Julhash Rahman</p>
            <p>
                .Net Developer based in Sydney, Australia</p>
        </div>
    </div>
</div>
