@*<div id="slider-block">
    <div id="slider-holder">
        <div id="slider">
            <a href="https://forms.kaplan.edu.au"><img src="images/Kaplan01.jpg" title="Kaplan Australia Pty Ltd" alt="" /></a> 
            <a href="www.infotrack.com.au"><img src="images/Infotrack01.jpg" title="Infotrack" alt="" /></a> 
            <a href="/"><img src="images/Bond01.jpg" title="Bond International Pty Ltd" alt="" /></a>

            <a href="www.test.com"><img src="images/03.jpg" title="Redpath partners" alt="" /></a>
            <a href="www.test.com"><img src="images/05.jpg" title="LoveID Australia" alt="" /></a>
        </div>
    </div>
</div>
<!-- ENDS Slider -->*@

<div id="slider-block">
        <!-- Responsive slider - START -->
        <div class="container">

            <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                <div class="slides" data-group="slides">
                    <ul>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <img src="images/amway1.png">
                                <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                    <h2>Amway Australia</h2>
                                    <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">Global E-Commerce Website</div>
                                </div>
                                <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="200">
                                   @* <img src="../3rdparty/w3widgetsResponsiveSlider/img/html5.png">*@
                                    Asp.Net MVC, BackboneMarionette and so on.
                                </div>
                                <div class="caption" data-animate="slideAppearLeftToRight">
                                    @*D3JS*@
                                    @*<img src="../3rdparty/w3widgetsResponsiveSlider/img/css3.png">*@
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <img src="images/infotrack1.png">
                                <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                    <h2>InfoTrack Australia</h2>
                                    <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">Nation-wide Website</div>
                                </div>
                                <div class="caption" data-animate="slideAppearDownToUp" data-delay="200">
                                    @*<img src="../3rdparty/w3widgetsResponsiveSlider/img/bootstrap.png">*@
                                   @* Asp.Net MVC, KnockoutJS and so on.*@
                                </div>
                                <div class="caption" data-animate="slideAppearUpToDown">
                                    @*<img src="../3rdparty/w3widgetsResponsiveSlider/img/twitter.png">*@
                                   @* Enterprise System*@

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <img src="images/loveid2.png">
                                <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                    <h2>Asp.Net 3.5, Asp.Net 4.0</h2>
                                    <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">Most of the work involved customization.</div>
                                </div>
                                <div class="caption img-jquery" data-animate="slideAppearDownToUp" data-delay="200">
                                    @*<img src="../3rdparty/w3widgetsResponsiveSlider/img/jquery.png">*@
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="slider-control left" href="#" data-jump="prev"><</a>
                <a class="slider-control right" href="#" data-jump="next">></a>
                <div class="pages">
                    <a class="page" href="#" data-jump-to="1">1</a>
                    <a class="page" href="#" data-jump-to="2">2</a>
                    <a class="page" href="#" data-jump-to="3">3</a>
                </div>
            </div>
            <div class="background-shadow">
            </div>
        </div>
        <!-- Responsive slider - END -->
    </div>



<section id="middleSection" style="min-height: 290px;">
    <div class="container">
        <div class="row" style="text-align: left">
            <div class="span12">
                <div class="well well-small">
                    <h4>Welcome to my Website</h4>
                    <p>
                        "My aim is to provide information about my skills and experiences through this website. 
                    Please feel free to explore my website and let me know if you require any developer. 
                    I am available to create websites that fully meet your requirements a professional look that inspire confidence in your customer."
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: left">
            <div class="span12">
                <div class="tabs">
                    <div style="padding-top: 50px;">
                        <div>
                            <h4>Who I am and What I do</h4>
                            <p>
                                My name is Julhash Rahman. I am a .Net Developer living in Sydney, Australia.
                            <br />
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
