@{
    ViewBag.Title = "Julhash Rahman Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    Profile</div>
<div>
    <div class="content-bg" style="padding-top:40px;">
        @* <div class="">
            <img src="../../Image/profession.png" />
            </div>*@
        <div class="text">
            <p >
               <strong> Julhash Rahman </strong></p>
            <p>
                .Net Developer based in Sydney, Australia</p>
            <p>
                <a href="http://au.linkedin.com/pub/julhash-rahman/46/66b/b01" target="_blank">
                    <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160"
                        height="33" border="0" alt="View Julhash Rahman's profile on LinkedIn">
                </a>
            </p>
        </div>
    </div>
</div>
