@{
    ViewBag.Title = "Julhash Rahman Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style=" padding-left:131px; padding-top:147px;">
    <img src="../../Image/profession.png" />

</div>