<div id="slider-block">
    <div id="slider-holder">
        <div id="slider">
            <a href="https://forms.kaplan.edu.au"><img src="images/Kaplan01.jpg" title="Kaplan Australia Pty Ltd" alt="" /></a> 
            <a href="www.infotrack.com.au"><img src="images/Infotrack01.jpg" title="Infotrack" alt="" /></a> 
            <a href="/"><img src="images/Bond01.jpg" title="Bond International Pty Ltd" alt="" /></a>

            <a href="www.test.com"><img src="images/03.jpg" title="Redpath partners" alt="" /></a>
            <a href="www.test.com"><img src="images/05.jpg" title="LoveID Australia" alt="" /></a>
        </div>
    </div>
</div>
<!-- ENDS Slider -->
<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">
        <!-- headline -->
        <div class="clear">
        </div>
        <div id="headline">
            <span class="main">Welcome to my website</span>
            <p>
                Dear Visitor, please note that this website is still under development. Some of
                the links and details are not available at this stage.
            </p>
        </div>
        <!-- ENDS headline -->
        <!-- content -->
        <div id="content">
            <!-- TABS -->
            <!-- the tabs -->
            <ul class="tabs">
                @*<li><a href="#"><span>Featured Pages</span></a></li>*@
                <li><a href="#"><span>Profile</span></a></li>
               @* <li><a href="#"><span>Recent posts</span></a></li>*@
            </ul>
            <!-- tab "panes" -->
            <div class="panes">
                <!-- Posts -->
              @*  <div>
                    <ul class="blocks-thumbs thumbs-rollover">
                        <li><a href="#" class="thumb" title="An image">
                            <img src="../../img/dummies/282x150.gif" alt="Post" /></a>
                            <div class="excerpt">
                                Updating soon...
                            </div>
                            <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                        </li>
                        <li><a href="#" class="thumb" title="An image">
                            <img src="../../img/dummies/282x150.gif" alt="Post" /></a>
                            <div class="excerpt">
                                Updating soon...
                            </div>
                            <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                        </li>
                        <li><a href="#" class="thumb" title="An image">
                            <img src="../../img/dummies/282x150.gif" alt="Post" /></a>
                            <div class="excerpt">
                                Updating soon...
                            </div>
                            <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                        </li>
                    </ul>
                </div>*@
                <!-- ENDS posts -->
                <!-- Information  -->
                <div>
                    <div class="plain-text">
                        <h6>
                            Who I am and What I do</h6>
                        <p>
                            Name: Julhash Rahman</p>
                        <p>
                            Profession: .NET Web Developer</p>
                        <p>
                            Location: Sydney, Australia</p>

                        <p><a href="../../Resume/index.html">Responsive Resume</a></p>
                        <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                    </div>
                </div>
                <!-- ENDS Information -->
                <!-- Posts -->
                <div>
                    <ul class="blocks-thumbs thumbs-rollover">
                        <li><a href="#" class="thumb" title="An image">
                            <img src="../../img/dummies/282x150.gif" alt="Post" /></a>
                            <div class="excerpt">
                                Updating soon... <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                        </li>
                        <li><a href="#" class="thumb" title="An image">
                            <img src="../../img/dummies/282x150.gif" alt="Post" /></a>
                            <div class="excerpt">
                                Updating soon...
                            </div>
                            <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                        </li>
                        <li><a href="#" class="thumb" title="An image">
                            <img src="../../img/dummies/282x150.gif" alt="Post" /></a>
                            <div class="excerpt">
                                Updating soon...
                            </div>
                            <a href="#" class="link-button"><span>Read more &#8594;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- ENDS posts -->
            </div>
            <!-- ENDS TABS -->
        </div>
        <!-- ENDS content -->
    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->
<!-- Twitter -->
<div id="twitter">
    <div class="wrapper">
        <a href="#" id="prev-tweet"></a><a href="#" id="next-tweet"></a>
        <img id="bird" src="../../img/bird.png" alt="Tweets" />
        <div id="tweets">
            <ul class="tweet_list">
            </ul>
        </div>
    </div>
</div>
