@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    Blogs [ Under Deveopment... ]</div>
<div>
    <div class="content-bg" style="padding-left:200px; padding-top:30px;">
        <div class="text">
            <p>
                <img src="../../Image/under_construction.jpg" /><br />
               
            </p>
            
        </div>
    </div>
</div>