@{
    ViewBag.Title = "Portfolio";
    ViewBag.InitModule = "portfolioIndex";
}

@section AddToHead{
    @*<link href="@Url.Content("~/Content/Upload.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/PortfolioStyle.css" rel="stylesheet" />
}

@section scripts
{   
   <script src="~/app/portfolio-index.min.js"></script>    
}


<div class="container">
    <div id="projects-list" class="row" style="text-align: left;">
        <div class="col-md-12" >
            <!-- title -->
            <div id="page-title">
                <span class="title">Portfolio</span> <span class="subtitle">Some of my projects.</span>
            </div>
        </div>

       @* @{ Html.RenderAction("PortfolioMenu", "Nav"); }*@

        <div data-ng-view=""></div>
    </div>

</div>

 

