@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="projects-list" class="row" style="text-align: left">
        <div class="span12">
            <!-- title -->
            <div id="page-title">
                <span class="title">Portfolio</span> <span class="subtitle">Some of my web development
                    work</span>
            </div>
        </div>

        @{ Html.RenderAction("PortfolioMenu", "Nav"); }


        <div class="span12" style="text-align: center;">
            <h2>No project found!</h2>
        </div>
    </div>
</div>


